body {
    background: black;
    color: white;
}
.App {
    text-align: center;
    padding: 5%;
}
.App-title {
    font-size: 26px;
}

/*Profile*/
.profile {
    display: flex;
    justify-content: center;

}
.prof-info {
    margin-left: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.prof-img {
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 75px;
    object-fit: cover;
}
.prof-name {
    font-size: 26px;
}
.prof-followers, .prof-genres {
    font-size: 18px;
}

/*Gallery*/
.track {
    display: inline-block;
    width: 220px;
    height:220px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.track-img {
    width: 220px;
    height: 220px;
    border: 3px white;
    border-radius: 3px;
    object-fit: cover;
    position: relative;
}
.track-text {
    background: black;
    color: white;
    opacity: 0.75;
    text-align: center;
    width: 214px;
    position: absolute;
    margin-left: 3px;
}

.play {
    position: absolute;
    width: 220px;
    height:220px;
}
.play-inner {
    position: relative;
    text-align: center;
    font-size: 25px;
    border-radius: 30px;
    width:60px;
    height:60px;
    color: white;
    margin-left: 100px;
    margin-top: -100px;
    float: inline-start;
    opacity: 0;
}
.play-inner:hover {
    opacity: 1;
    animation-name: fade-in;
    animation-duration: 0.5s;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}